@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    
}
.search{
  
  top:6px;
  left:10px;
}

.form-control{
    
    border:none;
    padding-left:32px;
}
problemname {
    text-decoration: none;
    position: relative;
  }
  
  problemname:hover {
    text-decoration: none;
  }
  
  problemname:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  

.form-control:focus{
    
    border:none;
    box-shadow:none;
}

.green{
    
    color:green;
}